.modal {
  width: 450px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  z-index: 2;
}

.modal.active {
  top: 25%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 154, 164);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem;
}

.title {
  font-size: 1.4em;
  color: #fff;
}

.modal .body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#todo-update-input {
  width: 90%;
  padding: 0.25rem;
  outline: none;
  border: 1px solid rgb(228, 154, 164);
  border-radius: 5px;
}

#todo-submit {
  width: 90%;
  margin-top: 10px;
  padding: 0.25rem;
  border: 2px solid rgb(228, 154, 164);
  border-radius: 5px;
}

#todo-submit:hover {
  background-color: rgb(228, 154, 164);
  color: #fff;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 21, 21, 0.7);
}

#overlay.active {
  display: block;
}
