* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(228, 154, 164);
}

.header {
  font-size: 2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.863);
  margin: 12px 0px;
}

.input-area {
  display: flex;
  padding: 4px 2px;
}

.input-box {
  width: 25vw;
  padding: 4px 6px;
  margin-right: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.add-btn {
  padding: 6px 8px;
  margin-left: 4px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background-color: rgba(248, 31, 60, 0.637);
}

.todo-container {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  /* background-color: cornflowerblue; */
  max-height: 70vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.todo-container::-webkit-scrollbar {
  width: 2px;
}

.todo-container::-webkit-scrollbar-thumb {
  background: rgba(248, 31, 60, 0.637);
}
